# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

pms
tmp/
test_data
nums.bin

build/
ParallelHeatSolver_old*
test.bin
input.bin
output.bin
out.txt
failed.log
input.txt
life
!life/
life/life_test